
.nav{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-bottom: 2px solid rgb(255, 0, 0);
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-img{
    width: 40px;
    height: 40px;
    color: rgb(31, 247, 96);
    transform: rotate(0deg);
    // animation:nav-img_animation 5s infinite linear;
}

@keyframes nav-img_animation{
    0%{
        transform: rotate(0deg);

    }
    25%{
        transform: rotate(45deg);

    }
    50%{
        transform: rotate(90deg);

    }
    75%{
        transform: rotate(135deg);

    }
    100%{
        transform: rotate(360deg);

    }
}

#shopping-cart{
    width: 35px;
    height: 35px;
    color: lightblue;
    cursor: pointer
}
span{
    margin-top: 15px;
    color: white;
}
#account{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    color: lightblue;
    cursor: pointer;
}
#account:hover{
    transition: 2s ease;
    transform: rotate(360deg);
}
.user{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#SignIn{
    width: 100px;
    height: 30px;
    outline: none;
    background: rgb(214, 33, 33);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
#SignIn:hover{
   transition: .2s ease-in-out;
   width: 200px;
}
.links{
    display: flex;
    margin-left: 20px;
}
h4{
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}
h4:hover{
    width: auto;
    height: 30px;
    color:rgb(230, 75, 75);
}


#gaterory_hover{
    width: 400px;
    height: 300px;
    background-color: bisque;
    position: absolute;
    top: 60px;
    left: 350px;
    display: none;
}
 
.no{
    border-bottom:0;

}
.border{
    border-bottom: 2px solid red;
} 


.profile{
    width: 270px;
    height: 300px;
    background-color: #222020;
    position: absolute;
    right: -100px;
    top: 66px;
    border-radius: 5px;
    z-index: 5;
    transition: 4s ease-out;
    
}

.cart_options{
    width: 400px;
    height: auto;
    background-color:  #222020;
    position: absolute;
    top: 45px;
    right:100px;
}
.cart_item{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.cart_item > img{
    width: 100px;
    height: 90px;
}
.cart_item > p{
    width: 90px;
    height: auto;
    text-align: center;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
#deleteButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#deleteButton:hover{
    opacity: .6;
}
@keyframes animate{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateY(0px);

    }
}