.video{
    position: relative;
    top: 100px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 450px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video > .player{
    border-radius: 5px;
}

 .video_info{
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(40px);
    opacity: 0;
    color: white;
} 

.video_info>p{
    font-size: 24px;
    font-weight: 600;
}
